
/* Sur la page de présentation */
/* Titre Blogs / Files couleur orange */
.communities-widget-appearance .lotusui30 div:not(#profilePaneLeft):not(#profilePaneRight):not(#profileBody):not(#tabsWidget1_widgetId_container) > .lotusWidget2 .lotusTable h4 a {
    color: #FF7010 !important;
    font-size: 16px !important;
    font-weight: normal !important;
}
/* Taille font lien d'actions */
.communities-widget-appearance .lotusui30 div:not(#profilePaneLeft):not(#profilePaneRight):not(#profileBody):not(#tabsWidget1_widgetId_container) > .lotusWidget2 a.lotusAction {
    font-size: 12px !important;
}
/* Taille lien tout afficher */
.communities-widget-appearance .lotusui30 .lotusWidget2 .galleryViewAllHint {
    font-size: 12px !important;
}
