/* Blog : Taille et couleur titres des entrées */
.lotusui30 .lotusTable h4 a{
    color: #FF7010 !important;
    font-size: 14px !important;
    font-weight: normal !important;
}

/* Blog : Taille des polices sur les entrées identiques */
.lotusui30 .lotusColRight .lotusMeta {
    font-size: 10px !important;
}

/* Blog : Espace entre titre/auteur et contenu du blog */
.blog .entryContentContainer {
    margin-top: 40px !important;
    margin-bottom: 30px !important;
}

/* Blog : Barre horizontale */
.lotusui30_layout .lotusContent .lotusTable tr td.eventDiv, .lotusui30_layout .lotusContent .lotusTable tr td:first-child {
    border-bottom: 1px solid #A2A2A2 !important;
    width: 500px;
    padding-bottom: 0px !important;
    padding-top: 20px !important;
}

/* Blog entry : taille et couleur titre entrée */
.lotusui30 .lotusTable h4 {
    color: #FF7010 !important;
    font-size: 14px !important;
    font-weight: normal !important;
}

/* Blog : Espace entre modifier et commentaires */
#addCommentFormContainer {
    margin-bottom: 80px !important;
}

/* Blog : Taille des boutons Ajouter un commentaire, Editer et Autres actions*/
.lotusui30 a.lotusAction {
    font-size: 0.9em !important;
}
